<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Home</title>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1890ff;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/list">Rectangle List</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/create">Create Rectangle</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row">
            <form class="from-card needs-validation" th:if="${rectangle.id}" action="#" th:action="@{/updateRectangle}" th:field="*{rectangle}" method="post">
                <input type="hidden" th:field="*{rectangle.id}">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" th:field="*{rectangle.name}" placeholder="Rectangle Name" required>
                    <div class="invalid-feedback">
                        Please input a name.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="width" class="form-label">Width</label>
                    <input type="text" class="form-control" th:field="*{rectangle.width}" id="width" required>
                    <div class="invalid-feedback">
                        Please input the width.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="height" class="form-label">Height</label>
                    <input type="text" class="form-control" th:field="*{rectangle.height}" id="height" required>
                    <div class="invalid-feedback">
                        Please input the height.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="height" class="form-label">Color</label>
                    <input type="color" class="form-control" th:field="*{rectangle.color}" id="color" required>
                    <div class="invalid-feedback">
                        Please pick a color.
                    </div>
                </div>
                <div class="mb-5 mt-5">
                    <button style="width: 100%" class="btn btn-primary block" type="submit">Update</button>
                </div>
            </form>
            <form class="from-card needs-validation" th:unless="${rectangle.id}" action="#" th:action="@{/addRectangle}" th:field="*{rectangle}" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" th:field="*{rectangle.name}" placeholder="Rectangle Name" required>
                    <div class="invalid-feedback">
                        Please input a name.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="width" class="form-label">Width</label>
                    <input type="text" class="form-control" th:field="*{rectangle.width}" id="width" required>
                    <div class="invalid-feedback">
                        Please input the width.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="height" class="form-label">Height</label>
                    <input type="text" class="form-control" th:field="*{rectangle.height}" id="height" required>
                    <div class="invalid-feedback">
                        Please input the height.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="height" class="form-label">Color</label>
                    <input type="color" class="form-control" th:field="*{rectangle.color}" id="color" required>
                    <div class="invalid-feedback">
                        Please pick a color.
                    </div>
                </div>
                <div class="mb-5 mt-5">
                    <button style="width: 100%" class="btn btn-primary block" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
</body>
</html>